
*{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}

html{
	width: 100%;
	height: 100%;
}

body{
	width: 80%;
	height: 90%;
	margin: auto;
}

header{
	margin-bottom: 30px;
	text-align: center;
	padding-top: 30px;
	height: 100px;
	background-color: #003B74;
}

header>h1{
	margin: 10px;
	color: white;
}

footer{
	margin-top: 20px;
	width: 100%;
}

nav.tab{
	width: 100%;
}

section{
	width: calc(100% - 50px);
	height: 700px;
	margin: auto;
}

#header_section{
	margin-bottom: 10px;
	display: inline-flex;
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	background-color: #BAF2A0;
}

#room_name{
	width: 70%;
	margin-top: 15px;
}

#user_card{
	width: 30%;
}


#screen{
	display: inline-flex;
	height: 600px;
	width: 100%;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hideScrollBar {
  -ms-overflow-style: none;
  scrollbar-width:none;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

.border{
	border: 1px black solid;
}

.noborder{
	border: none;
}

.input{
	border: none;
	border-bottom: 1px black solid;
}

.bg_white{
	background: white;
}

.bg_black{
	background: black;
}

.bg_blue_light{
	background: #77A1D9;
}

.btn{
	min-width: 100px;
	height: 50px;
	font-size: 20px;
}

.noblock{
	display: inline;
}

.debug{
	border: 2px red solid;
	background-color: green;
}

#document_controle{
	padding:20px;
	width: calc(100% - 40px);
	height: 50px;
}

.drive{
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
}

.drive_parent{
	height: 40%;
	padding: 30px;
	width: calc(100% - 60px);
}

.drive_child{
	height: 100%;
	overflow-y: scroll;
}

#document_name, #document_uid{
	text-align: center;
}